#deleteDialogForm {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  margin: 10px;

  button {
    font-size: 16px;
    padding: 40px 80px;
    margin: 40px 0 10px;
  }
}
.h1 {
  margin: 40px 40px 0
}
