<div class="container">
  <h1>Список пользователей</h1>
  <div class="usersCart">
    <div *ngFor="let user of users">
      <p><span>Имя: </span>{{user.name}}</p>
      <p><span>Email: </span>{{user.email}}</p>
      <p><span>Адрес: </span>{{user.address.street}}, {{user.address.suite}}, {{user.address.city}}</p>
      <p><span>Тел.: </span>{{user.phone}}</p>
      <p><span>Сайт: </span>{{user.website}}</p>
      <p><span>Компания: </span>{{user.company.name}}</p>
      <button (click)='deleteUser(user.id)'>удалить</button>
    </div>
  </div>
</div>
